/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}


/* HEADER NAV */

.site-header {
    background-color: #525E65;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo {
    padding: 10px 0 5px;
}

.logo a {
    display: flex;
}

.logo img {
    height: 30px;
}

.site-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-nav ul .nav-item {
    padding: 0 10px;
}

.site-nav ul .nav-item:not(:last-child) {
    margin-right: 15px;
}

.site-nav ul .nav-item a {
    color: #DBE8D4;
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
}

.site-nav ul .active {
    border-bottom: 4px solid #73CCA8;
    padding-top: 4px;
    line-height: 40px;
}

.site-nav ul .active a {
    color: #73CCA8;
}

.site-nav ul .nav-item:hover {
    border-bottom: 4px solid #73CCA8;
    padding-top: 4px;
    line-height: 40px;
}

.site-nav ul .nav-item a:hover {
    color: #73CCA8;
}

.site-nav ul .nav-item:active {
    opacity: 0.8;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}


/* FOOTER */

.site-footer {
    background-color: #525E65;
    color: #DBE8D4;
    font-family: 'Josefin Sans',    sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}


/* 

font-family: 'Josefin Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;

*/

@media screen and (max-width: 595px) {
    body {
        background-color: olive;
    }

    .logo {
        padding: 20px 0 0;
    }
}

@media screen and (max-width: 310px) {
    .site-nav ul .nav-item:not(:last-child) {
        margin-right: 5px;
    }

    .site-nav ul {
        flex-wrap: wrap;
    }
}